$card: #0A0B0E;
$bg: #EFEFEF;
$nav-text: #1C1B1B;
$section-text: #EE5050;
$detail-text: #4E4E4E;
$branding-red: #F03A3A;
$nav-bg: #2F3031;
$section-text2: #AAAAAA;
$quote-fonts: #929292;

#main_blog {
	margin-top: 160px;
    @include outer-container;
    @include span-columns(8);
    @include shift(2);
}

.blog_title {
  // padding: 40px 60px 0px 60px;
  padding-top: 40px;
  color: $nav-bg;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 18px;
}

// .blog_title_centered {
//   padding-top: 20px;
//   color: $nav-bg;
//   font-size: 30px;
//   font-weight: 500;
//   margin-bottom: 80px;
//   text-align: center;
// }

.blog_title a:hover {
	border-bottom: 0em;
	transition: color 0.3s ease;
}

.blog_date {
  // padding: 0px 60px 0px 60px;
  color: $section-text2;
  font-size: 16px;
  font-weight: 400;
}

.blog_body {
  padding: 0px 60px 40px 60px;
	margin-bottom: 60px;
	background-color: white;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  	-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  	-webkit-transition: all 0.3s linear 0s;
  	-moz-transition: all 0.3s linear 0s;
  	-ms-transition: all 0.3s linear 0s;
  	-o-transition: all 0.3s linear 0s;
  	transition: all 0.3s linear 0s;
  	cursor: pointer;
}

.blog_body:hover {
	-webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.2);
  	-moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.2);
  	box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.2);
}

/////////////////////////////font

// .blog_post_wrap {
//   padding: 40px 60px 40px 60px;
// }

// .secondary_text {
//   font-style: italic;
//   font-size: 14px;
// }

// .question_text {
//   font-weight: bold;
// }

.blog_pic {
  margin: 20px 0px;
}

.quote {
  font-style:italic;
  padding: 30px 68px 30px 40px;
  font-size: 14px;
  color: $quote-fonts;
}

.question {
  font-weight:bold;
  padding: 30px 0px;
}

.left_img {
  @include span-columns(4);
  float: right;
  margin: 0px 0px 0px 10px;
}