$card: #0A0B0E;

$nav-text: #1C1B1B;

$detail-text: #4E4E4E;
$branding-red: #F03A3A;
$nav-bg: #2F3031;
$section-text2: #AAAAAA;

$card-blue: #04386B;
$text-hover-blue: #0F538B;
$bg: #EDEEEF;
$section-text: #232323;
$date-text: #999999;
$title-text: #232323;
$description-text: #656565;
$line-dark: #656565;
$tag-dark: #141414;
$text-background: #E4E6E8;

body {
	background: $bg;
	margin: 0 auto;
}

.hero_img {
	img {
		width: 100%;
	}
}

// .hero_bar {
// 	margin-top: -20px;
// }

///////////////////////////mag
.magzine_wrapper {
	@include outer-container;
	margin-top: -350px;
}

.index_row {
	@include row();
}

.mag_box_large_wrapper {
	position: relative;
	display: inline-block;
	cursor: pointer;
	@include media($desktop){
      @include span-columns (6.82);
	}
	@include media($tablet){
      @include span-columns (6.82);
	}
}

.mag_box_small_wrapper {
	position: relative;
	display: inline-block;
	cursor: pointer;
	@include media($desktop){
      @include span-columns (2.59);
	}
	@include media($tablet){
      @include span-columns (2.59);
	}
}


.mag_box_large_wrapper:after {
	padding-top: 46.5%;
	display: block;
	content: '';
}

.mag_box_small_wrapper:after {
	padding-top: 131.25%;
	display: block;
	content: '';
}

.mag_box_large {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: $card-blue;
}

.mag_box_small {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: $card-blue;
}

.mag_picBox {
	z-index: 1;
	width: 35.9%;
	background-color: $card-blue;
	height: 100%;
	float: left;
	margin-right: 0px;
}

.mag_box_large:hover .thumbnail img{
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
  opacity: .8;
}

.mag_box_small:hover .thumbnail_small img{
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
  opacity: .8;
}

.thumbnail {
	position: absolute;
	background: $card-blue;
	overflow: hidden;
	width: 35.9%;
	height: 100%;
}

.thumbnail_small {
	position: absolute;
	background: $card-blue;
	overflow: hidden;
 	height: 100%;
}

.thumbnail img{
  -webkit-transition: all 0.22s linear 0s;
  -moz-transition: all 0.22s linear 0s;
  -ms-transition: all 0.22s linear 0s;
  -o-transition: all 0.22s linear 0s;
  transition: all 0.22s linear 0s;
  width: 100%;
}

.thumbnail_small img{
  -webkit-transition: all 0.22s linear 0s;
  -moz-transition: all 0.22s linear 0s;
  -ms-transition: all 0.22s linear 0s;
  -o-transition: all 0.22s linear 0s;
  transition: all 0.22s linear 0s;
  height: 100%;
}

.mag_text {
	position: relative;
	width: 64.1%;
	float: right;
	padding: 16px 30px 8px 30px;
}

.number {
	color: #ABABAB;
	font-size: 11px;
	letter-spacing: 1.5px;
	margin-bottom: 20px;
}

.article1 {
	color: white;
	font-size: 16px;
	font-family: georgia;
	font-weight: bold;
	line-height: 120%;
}

.line {
	margin-top: 12px;
	height: 2px;
	width: 26px;
	background-color: white;
}

.tag {
	margin-top: 10px;
	font-size: 10px;
	letter-spacing: 1px;
	color: white;
}

///////////////////////////shelf_1///////card_big
.shelf_wrapper {
	@include outer-container;
	margin-top: 100px;
}

.section_title {
	h1{
		color: $section-text;
		text-align: center;
		font-family: helvetica;
		font-weight: medium;
		letter-spacing: 2px;
		font-size: 14px;
	}
	margin-bottom: 20px;
}

.section_line {
	height: 4px;
	width: 26px;
	background-color: $description-text;
	margin: 0 auto;
}

.card_big_wrapper {
	position: relative;
	display: inline-block;
	cursor: pointer;
	margin: 60px 0px 0px 0px;
	@include media($desktop){
      @include span-columns (3);
	}
	@include media($tablet){
      @include span-columns (3);
	}
}

.card_big_wrapper:after {
	padding-top: 143.46%;
	display: block;
	content: '';
}

.card_big {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: white;
	-webkit-transition: all 0.22s linear 0s;
 	 -moz-transition: all 0.22s linear 0s;
 	 -ms-transition: all 0.22s linear 0s;
 	 -o-transition: all 0.22s linear 0s;
 	 transition: all 0.22s linear 0s;
}

.card_picBox_big {
	z-index: 1;
	width: 100%;
	background-color: white;
	height: 32.85%;
	float: top;
}

.card_thumbnail_big {
	position: absolute;
	background: white;
	overflow: hidden;
	width: 100%;
	height: 32.85%;
}

.card_thumbnail_big img{
  -webkit-transition: all 0.22s linear 0s;
  -moz-transition: all 0.22s linear 0s;
  -ms-transition: all 0.22s linear 0s;
  -o-transition: all 0.22s linear 0s;
  transition: all 0.22s linear 0s;
  width: 100%;
}

.card_big_text {
	height: 47.15%;
	padding: 16px 16px;
}

.date {
	font-size: 11px;
	font-family: helvetica;
	color: $date-text;
	line-height: 14px;
}

.post_title {
	font-size: 18px;
	font-family: georgia;
	color: $title-text;
	line-height: 22px;
	font-weight: bold;
	margin-top: 12px;
}

.description {
	font-size: 13px;
	font-family: georgia;
	color: $description-text;
	line-height: 18px;
	font-style: italic;
	margin-top: 16px;
}

.card_big_text_bottom {
	height: 20%;
	float: bottom;
	padding: 16px 16px;
}

.line_dark {
	margin-top: 16px;
	height: 2px;
	width: 40px;
	background-color: $line-dark;
}

.tag_big {
	margin-top: 12px;
	font-size: 11px;
	font-family: helvetica;
	color: $tag-dark;
	letter-spacing: 1.35px;
}

.card_big:hover .card_thumbnail_big img{
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}

.card_thumbnail_big img{
  -webkit-transition: all 0.22s linear 0s;
  -moz-transition: all 0.22s linear 0s;
  -ms-transition: all 0.22s linear 0s;
  -o-transition: all 0.22s linear 0s;
  transition: all 0.22s linear 0s;
  width: 100%;
}

.card_big:hover {
  -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.3);
}



///////////////////////////shelf_2///////card_small
.card_small_wrapper {
	position: relative;
	display: inline-block;
	cursor: pointer;
	margin: 60px 0px 0px 0px;
	@include media($desktop){
      @include span-columns (3);
	}
	@include media($tablet){
      @include span-columns (3);
	}
}

.card_small_wrapper:after {
	padding-top: 87.17%;
	display: block;
	content: '';
}

.card_small {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: white;
	-webkit-transition: all 0.22s linear 0s;
 	 -moz-transition: all 0.22s linear 0s;
 	 -ms-transition: all 0.22s linear 0s;
 	 -o-transition: all 0.22s linear 0s;
 	 transition: all 0.22s linear 0s;
}

.card_picBox_small {
	z-index: 1;
	width: 100%;
	background-color: white;
	height: 36.04%;
	float: top;
}

.card_thumbnail_small {
	position: absolute;
	background: white;
	overflow: hidden;
	width: 100%;
	height: 36.04%;
}

.card_thumbnail_small img{
  -webkit-transition: all 0.22s linear 0s;
  -moz-transition: all 0.22s linear 0s;
  -ms-transition: all 0.22s linear 0s;
  -o-transition: all 0.22s linear 0s;
  transition: all 0.22s linear 0s;
  width: 100%;
}

.card_small_text {
	height: 39%;
	padding: 6px 16px 0px 16px;
}

.card_small_text_bottom {
	height: 16%;
	float: bottom;
	padding: 0px 16px;
}

.card_small:hover .card_thumbnail_small img{
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}

.card_thumbnail_small img{
  -webkit-transition: all 0.22s linear 0s;
  -moz-transition: all 0.22s linear 0s;
  -ms-transition: all 0.22s linear 0s;
  -o-transition: all 0.22s linear 0s;
  transition: all 0.22s linear 0s;
  width: 100%;
}

.card_small:hover {
  -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.3);
}


///////////////////////////shelf_3///////card_tiny
.card_tiny_wrapper {
	position: relative;
	display: inline-block;
	cursor: pointer;
	margin: 60px 0px 0px 0px;
	@include media($desktop){
      @include span-columns (3);
	}
	@include media($tablet){
      @include span-columns (3);
	}
}

.card_tiny_wrapper:after {
	padding-top: 34.03%;
	display: block;
	content: '';
}

.card_tiny_wrapper_1 {
	position: relative;
	display: inline-block;
	margin: 60px 0px 0px 0px;
	@include media($desktop){
      @include span-columns (3);
	}
	@include media($tablet){
      @include span-columns (3);
	}
}

.card_tiny_wrapper_1:after {
	padding-top: 34.03%;
	display: block;
	content: '';
}

.card_tiny {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: white;
	-webkit-transition: all 0.22s linear 0s;
 	 -moz-transition: all 0.22s linear 0s;
 	 -ms-transition: all 0.22s linear 0s;
 	 -o-transition: all 0.22s linear 0s;
 	 transition: all 0.22s linear 0s;
}

.card_picBox_tiny {
	z-index: 1;
	width: 34.03%;
	background-color: white;
	height: 100%;
	float: left;
}

.card_thumbnail_tiny {
	position: absolute;
	background: white;
	overflow: hidden;
	width: 34.03%;
	height: 100%;
}

.card_thumbnail_tiny img{
  -webkit-transition: all 0.22s linear 0s;
  -moz-transition: all 0.22s linear 0s;
  -ms-transition: all 0.22s linear 0s;
  -o-transition: all 0.22s linear 0s;
  transition: all 0.22s linear 0s;
  width: 100%;
}

.card_tiny_text {
	height: 58%;
	width: 65.97%;
	padding: 8px 10px 0px 10px;
	float: left;
}

.card_tiny_text_bottom {
	height: 42%;
	width: 65.97%;
	float: left;
	padding: 0px 10px;
}

.card_tiny:hover .card_thumbnail_tiny img{
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}

.card_thumbnail_tiny img{
  -webkit-transition: all 0.22s linear 0s;
  -moz-transition: all 0.22s linear 0s;
  -ms-transition: all 0.22s linear 0s;
  -o-transition: all 0.22s linear 0s;
  transition: all 0.22s linear 0s;
  width: 100%;
}

.card_tiny:hover {
  -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.3);
}

.post_title_tiny {
	font-size: 14px;
	font-family: georgia;
	color: $title-text;
	line-height: 17px;
	font-weight: bold;
	margin-top: 0px;
}


.tag_tiny {
	margin-top: 6px;
	font-size: 9px;
	font-family: helvetica;
	color: $tag-dark;
	letter-spacing: 1.35px;
}

////////////////////////////////////////////////////////////recommended

.card_tiny_recommend {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: $text-background;
	-webkit-transition: all 0.22s linear 0s;
 	 -moz-transition: all 0.22s linear 0s;
 	 -ms-transition: all 0.22s linear 0s;
 	 -o-transition: all 0.22s linear 0s;
 	 transition: all 0.22s linear 0s;
}

.card_tiny_recommend_text {
	width: 100%;
	height: 100%;
	padding: 16px 16px;
	float: left;
	background-color: $text-background;
}

.recommend_text {
	margin-bottom: 5px;
	color: #999999;
	font-size: 12px;
	font-family: helvetica;
}

.line_dark_tiny {
	margin-top: 14px;
	height: 2px;
	width: 20px;
	background-color: $line-dark;
}

////////////////////////////////////////////////////////////Special Report

.card_special_wrapper {
	position: relative;
	display: inline-block;
	margin: 60px 0px 0px 0px;
	background-image: url(../../images_s/report/report.png);
	background-size: 100% 100%;
	@include media($desktop){
      @include span-columns (12);
	}
	@include media($tablet){
      @include span-columns (12);
	}
}

.card_special_wrapper:after {
	padding-top: 32.08%;
	display: block;
	content: '';
}

.text_special_wrapper {
	position: absolute;
	padding-top: 60px;
	padding-left: 80px;
	width: 40%;
	height: 100%;
	float: left;
}

.topic_title {
	font-size: 32px;
	line-height: 42px;
	font-family: Georgia;
	font-style: italic;
	font-weight: bold;
	color: white;
}

.topic_description {
	margin-top: 48px;
	font-size: 18px;
	font-family: Georgia;
	color: white;
}

.topic_time {
	margin-top: 48px;
	font-size: 12px;
	font-family: helvetica;
	color: white;
}



// .special_text_wrapper {
// 	position: absolute;
// 	top: 0;
// 	bottom: 0;
// 	right: 0;
// 	left: 0;
// 	background-color: white;
// }


////////////////////////////Special Report card
.card_tiny_special_wrapper {
	display: inline-block;
	position: relative;
	width: 60%;
	height: 100%;
	float: right;
	margin-top: 22px;
}

.card_tiny_wrapper_R {
	position: relative;
	display: inline-block;
	cursor: pointer;
	margin: 8px 0px 8px 400px;
	@include media($desktop){
      @include span-columns (5);
	}
	@include media($tablet){
      @include span-columns (3);
	}
}

.card_tiny_wrapper_R:after {
	padding-top: 34.03%;
	display: block;
	content: '';
}


////////////////////////////////////////////////////////////Information

.card_info_wrapper {
	position: relative;
	display: inline-block;
	margin: 60px 0px 0px 0px;
	background-image: url(../../images_s/information/info_bg.png);
	background-size: 100% 100%;
	@include media($desktop){
      @include span-columns (12);
	}
	@include media($tablet){
      @include span-columns (12);
	}
}

.card_info_wrapper:after {
	padding-top: 32.08%;
	display: block;
	content: '';
}

.text_info_wrapper {
	position: relative;
	padding-top: 40px;
	padding-right: 40px;
	width: 45%;
	height: 100%;
	float: right;
}

.topic_info_title {
	font-size: 32px;
	line-height: 42px;
	font-family: Georgia;
	font-style: italic;
	font-weight: bold;
	color: $section-text;
}

.topic_info_description {
	margin-top: 30px;
	font-size: 18px;
	font-family: Georgia;
	color: $description-text;
}

.topic_info_time {
	margin-bottom: 20px;
	font-size: 12px;
	font-family: helvetica;
	color: $date-text;
}

.view_more {
	position: relative;
	width: 140px;
	height: 36px;
	border-width: 1px;
	border-color: $date-text;
	border-style: solid;
	text-align: center;
	line-height: 36px;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: helvetica;
	margin-top: 68px;
	margin-left: 3px;
	cursor: pointer;
	color: $tag-dark;

	-webkit-transition: all 0.22s linear 0s;
  	-moz-transition: all 0.22s linear 0s;
  	-ms-transition: all 0.22s linear 0s;
  	-o-transition: all 0.22s linear 0s;
  	transition: all 0.22s linear 0s;
}

.view_more:hover {
	background-color: $text-hover-blue;
	border-width: 1px;
	border-color: $text-hover-blue;
	border-style: solid;
	color: white;
}


////////////////////////////////////////////////////  card_video
.card_video_wrapper {
	position: relative;
	display: inline-block;
	cursor: pointer;
	margin: 60px 0px 0px 0px;
	@include media($desktop){
      @include span-columns (3);
	}
	@include media($tablet){
      @include span-columns (3);
	}
}

.card_video_wrapper:after {
	padding-top: 75.99%;
	display: block;
	content: '';
}

.card_video {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: white;
	-webkit-transition: all 0.22s linear 0s;
 	 -moz-transition: all 0.22s linear 0s;
 	 -ms-transition: all 0.22s linear 0s;
 	 -o-transition: all 0.22s linear 0s;
 	 transition: all 0.22s linear 0s;
}

.card_picBox_video {
	z-index: 1;
	width: 100%;
	background-color: white;
	height: 74.53%;
	float: top;
}

.card_thumbnail_video {
	position: absolute;
	background: white;
	overflow: hidden;
	width: 100%;
	height: 74.53%;
}

.card_thumbnail_video img{
  -webkit-transition: all 0.22s linear 0s;
  -moz-transition: all 0.22s linear 0s;
  -ms-transition: all 0.22s linear 0s;
  -o-transition: all 0.22s linear 0s;
  transition: all 0.22s linear 0s;
  width: 100%;
}

.card_video_text {
	height: 25.47%;
	width: 100%;
}

.card_video:hover .card_thumbnail_video img{
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}

.card_thumbnail_video img{
  -webkit-transition: all 0.22s linear 0s;
  -moz-transition: all 0.22s linear 0s;
  -ms-transition: all 0.22s linear 0s;
  -o-transition: all 0.22s linear 0s;
  transition: all 0.22s linear 0s;
  width: 100%;
}

// .card_video:hover {
//   -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.3);
//   -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.3);
//   box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.3);
// }

.video_title {
	font-family: georgia;
	font-size: 15px;
	padding-top: 5.5%;
	padding-left: 4%;
}

.video_play_button {
	display: block;
	width: 38px;
	height: 38px;
	position: absolute;
	z-index: 2;
	margin-top: 21%;
	margin-left: 43.4%;
	border-width: 1px;
	border-color: white;
	border-style: solid;
	border-radius: 50%;

	-webkit-transition: all 0.22s linear 0s;
  	-moz-transition: all 0.22s linear 0s;
  	-ms-transition: all 0.22s linear 0s;
  	-o-transition: all 0.22s linear 0s;
  	transition: all 0.22s linear 0s;
}

.triangle {
	width: 11px;
	height: 13px;
	margin-top: 7px;
	margin-left: 13px;
}

.card_video:hover .video_play_button {
	background-color: $text-hover-blue;
	border-width: 1px;
	border-color: white;
	border-style: solid;
}
