%header.s-header
	.nav
		.wrapper
			.logo
				%ul.title
					%li 
						%a{:href => 'index.html'}
							%img(src="/images_s/header/logo.png")
			.navRow
				%ul.title
					%li
						%a{:href => 'index2.html'} THE SCIENCES
					%li
						%a{:href => 'index2.html'} MIND
					%li
						%a{:href => 'index2.html'} HEALTH
					%li
						%a{:href => 'index2.html'} TECH
					%li
						%a{:href => 'index2.html'} SUSTAINABILITY
					%li
						%a{:href => 'index2.html'} EDUCATION
					%li 
						%a{:href => 'video.html'} VIDEO
					%li 
						%a{:href => 'podcasts.html'} PODCASTS
					%li 
						%a{:href => ''} BLOGS
					%li 
						%a{:href => ''} STORE
					%li 
						%img(src="/images_s/header/search.png")



