%header.s-header
	.nav
		.wrapper
			.logo
				%ul.title
					%li 
						%img(src="/images_s/header/logo.png")
			.navRow
				%ul.title
					%li
						%a{:href => ''} THE SCIENCES
					%li MIND
					%li HEALTH
					%li TECH
					%li SUSTAINABILITY
					%li EDUCATION
					%li 
						%a{:href => ''} VIDEO
					%li 
						%a{:href => ''} PODCASTS
					%li 
						%a{:href => ''} BLOGS
					%li STORE
					%li 
						%img(src="/images_s/header/search.png")



