@import "neat/neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 0.5em;
$grid-columns: 12;
$max-width: 75rem;

// Neat Breakpoints
// $medium-screen: em(640);
// $large-screen: em(860);

// $medium-screen-up: new-breakpoint(min-width $medium-screen 4);
// $large-screen-up: new-breakpoint(min-width $large-screen 8);


$large-screen: 75rem;

$desktop: new-breakpoint(min-width 1160px 12);
$desktop-small: new-breakpoint(max-width 1160px 12);
$tablet: new-breakpoint(max-width 1000px 12);
$tablet-portrait: new-breakpoint(max-width 870px 12);
$mobile: new-breakpoint(max-width 550px 12);