---
title: Page1

---



.main
	.hero_img
		%img.hero(src="/images_s/hero/hero2.png")
	.magzine_wrapper
		.index_row
			.mag_box_large_wrapper
				.mag_box_large
					.mag_picBox
						.thumbnail
							%img(src="/images_s/mag/mag1.png")
					.mag_text
						.number
							MAR 2016   |   VOLUME CCCXIV
						.article1
							5 Years Later, the Fukushima Nuclear Disaster Site Continues to Spill Waste
						.line
						.tag
							ENERGY
					.mag_text
						.article1
							Naval Aviation Gets a Boost from a New Invention: The Catapult
						.line
						.tag
							THE SCIENCES
					.mag_text
						.article1
							Technology of Naval Warfare, 1916 [Slide Show]
			.mag_box_small_wrapper
				.mag_box_small
					.mag_picBox
						.thumbnail_small
							%img(src="/images_s/mag/mag2.png")
			.mag_box_small_wrapper
				.mag_box_small
					.mag_picBox
						.thumbnail_small
							%img(src="/images_s/mag/mag3.png")
	.shelf_wrapper
		.index_row
			.section_title
				%h1 MOST POPULAR
			.section_line
			.card_big_wrapper
				.card_big
					.card_picBox_big
						.card_thumbnail_big
							%img(src="/images_s/card_big/img1.png")
					.card_big_text
						.date
							4 hours ago — Alexandra Witze & Nature magazine
						.post_title
							Science Funders Struggle to Deal with Sexual Harassers
						.description
							US science agencies threaten harsh penalties, but many have yet to take action.
					.card_big_text_bottom
						.line_dark
						.tag_big
							THE SCIENCES
			.card_big_wrapper
				.card_big
					.card_picBox_big
						.card_thumbnail_big
							%img(src="/images_s/card_big/img2.png")
					.card_big_text
						.date
							February 8, 2016 — Jordana Cepelewicz
						.post_title
							A Single Concussion May Triple the Long-Term Risk of Suicide
						.description
							A new study of mild concussions in Canadian adults suggests the risks are even higher for recreational injuries
					.card_big_text_bottom
						.line_dark
						.tag_big
							HEALTH - NEUROLOGICAL
			.card_big_wrapper
				.card_big
					.card_picBox_big
						.card_thumbnail_big
							%img(src="/images_s/card_big/img3.png")
					.card_big_text
						.date
							February 3, 2016 — Apoorva Mandavilli
						.post_title
							India's Government Is Becoming Increasingly Antiscience
						.description
							Scientists join writers, artists and historians in protesting the Modi government’s growing interference...
					.card_big_text_bottom
						.line_dark
						.tag_big
							THE SCIENCES
			.card_big_wrapper
				.card_big
					.card_picBox_big
						.card_thumbnail_big
							%img(src="/images_s/card_big/img4.png")
					.card_big_text
						.date
							April 15, 2016
						.post_title
							Latest Battle to Wipe Out Polio Begins with Vast Vaccine Switch
						.description
							Massive push that begins this weekend will include more than 150 countries
					.card_big_text_bottom
						.line_dark
						.tag_big
							PUBLIC HEALTH
	.shelf_wrapper
		.index_row
			.section_title
				%h1 JUST ADDED
			.section_line
			.card_small_wrapper
				.card_small
					.card_picBox_small
						.card_thumbnail_small
							%img(src="/images_s/card_small/img1.png")
					.card_small_text
						.post_title
							Science Funders Struggle to Deal with Sexual Harassers
					.card_small_text_bottom
						.line_dark
						.tag_big
							SUSTAINABILITY
			.card_small_wrapper
				.card_small
					.card_picBox_small
						.card_thumbnail_small
							%img(src="/images_s/card_small/img2.png")
					.card_small_text
						.post_title
							U.S. to Study Zika Link to Guillain–Barré in Puerto Rico
					.card_small_text_bottom
						.line_dark
						.tag_big
							HEALTH - PUBLIC
			.card_small_wrapper
				.card_small
					.card_picBox_small
						.card_thumbnail_small
							%img(src="/images_s/card_small/img3.png")
					.card_small_text
						.post_title
							Beyond Resveratrol: The Anti-Aging NAD Fad
					.card_small_text_bottom
						.line_dark
						.tag_big
							HEALTH
			.card_small_wrapper
				.card_small
					.card_picBox_small
						.card_thumbnail_small
							%img(src="/images_s/card_small/img4.png")
					.card_small_text
						.post_title
							The Best Diet for Your Brain
					.card_small_text_bottom
						.line_dark
						.tag_big
							HEALTH - NEUROLOGICAL
		.index_row
			.card_small_wrapper
				.card_small
					.card_picBox_small
						.card_thumbnail_small
							%img(src="/images_s/card_small/img5.png")
					.card_small_text
						.post_title
							The Truth About Exoplanets
					.card_small_text_bottom
						.line_dark
						.tag_big
							THE SCIENCES - SPACE
			.card_small_wrapper
				.card_small
					.card_picBox_small
						.card_thumbnail_small
							%img(src="/images_s/card_small/img6.png")
					.card_small_text
						.post_title
							Apple Opposes Order to Help FBI Unlock iPhone
					.card_small_text_bottom
						.line_dark
						.tag_big
							TECH
			.card_small_wrapper
				.card_small
					.card_picBox_small
						.card_thumbnail_small
							%img(src="/images_s/card_small/img7.png")
					.card_small_text
						.post_title
							The Science behind the DEA's Long War on Marijuana
					.card_small_text_bottom
						.line_dark
						.tag_big
							POLICY & ETHICS
			.card_small_wrapper
				.card_small
					.card_picBox_small
						.card_thumbnail_small
							%img(src="/images_s/card_small/img8.png")
					.card_small_text
						.post_title
							Drones Could Speed Up HIV Tests In Remote Areas
					.card_small_text_bottom
						.line_dark
						.tag_big
							PUBLIC HEALTH
	.shelf_wrapper
		.index_row
			.section_title
				%h1 RECOMMENDED FOR YOU
			.section_line
			.card_tiny_wrapper_1
				.card_tiny_recommend
					.card_tiny_recommend_text
						.recommend_text
							Because you like:
						.post_title_tiny
							17 Governors Agree to Pursue Clean Energy Goals 
			.card_tiny_wrapper
				.card_tiny
					.card_picBox_tiny
						.card_thumbnail_tiny
							%img(src="/images_s/card_tiny/pic1.png")
					.card_tiny_text
						.post_title_tiny
							The Dark Side of LED Lightbulbs
					.card_tiny_text_bottom
						.line_dark_tiny
						.tag_tiny
							SUSTAINABILITY
			.card_tiny_wrapper
				.card_tiny
					.card_picBox_tiny
						.card_thumbnail_tiny
							%img(src="/images_s/card_tiny/pic2.png")
					.card_tiny_text
						.post_title_tiny
							Living in a Quantum World
					.card_tiny_text_bottom
						.line_dark_tiny
						.tag_tiny
							SUSTAINABILITY
			.card_tiny_wrapper
				.card_tiny
					.card_picBox_tiny
						.card_thumbnail_tiny
							%img(src="/images_s/card_tiny/pic3.png")
					.card_tiny_text
						.post_title_tiny
							Could a Lack of Water Cause Wars?
					.card_tiny_text_bottom
						.line_dark_tiny
						.tag_tiny
							CLIMATE
	.shelf_wrapper
		.index_row
			.section_title
				%h1 SPECIAL REPORT
			.section_line
			.card_special_wrapper
				.text_special_wrapper
					.topic_title
						The Discovery of Gravitational Waves
					.topic_description
						All you need to know about the ripples in spacetime detected by LIGO
					.topic_time
						February 14, 2016
				.card_tiny_special_wrapper
					.card_tiny_wrapper_R
						.card_tiny
							.card_picBox_tiny
								.card_thumbnail_tiny
									%img(src="/images_s/report/img1.png")
							.card_tiny_text
								.post_title_tiny
									Gravitational Waves Discovered from Colliding Black Holes
							.card_tiny_text_bottom
								.line_dark_tiny
								.tag_tiny
									THE SCIENCES - SPACE
					.card_tiny_wrapper_R
						.card_tiny
							.card_picBox_tiny
								.card_thumbnail_tiny
									%img(src="/images_s/report/img2.png")
							.card_tiny_text
								.post_title_tiny
									Gravitational Waves Are the Ringing of Spacetime
							.card_tiny_text_bottom
								.line_dark_tiny
								.tag_tiny
									THE SCIENCES
					.card_tiny_wrapper_R
						.card_tiny
							.card_picBox_tiny
								.card_thumbnail_tiny
									%img(src="/images_s/report/img3.png")
							.card_tiny_text
								.post_title_tiny
									Watch How Gravitational Waves Dance across the…
							.card_tiny_text_bottom
								.line_dark_tiny
								.tag_tiny
									THE SCIENCES - SPACE
	.shelf_wrapper
		.index_row
			.section_title
				%h1 INFOGRAPHIC OF THE WEEK
			.section_line
			.card_info_wrapper
				.text_info_wrapper
					.topic_info_time
						By Amanda Montañez on February 17, 2016
					.topic_info_title
						The Data, My Friend, Is Blowing in the Wind
					.topic_info_description
						Interactive data visualization maps predicted wind speeds around the world
					.view_more
						VIEW MORE
	.shelf_wrapper
		.index_row
			.section_title
				%h1 VIDEO
			.section_line
			.card_video_wrapper
				.card_video
					.card_picBox_video
						.card_thumbnail_video
							.video_play_button
								.triangle
									%img(src="/images_s/video/tri.png")
							%img(src="/images_s/video/img1.png")
					.card_video_text
						.video_title
							Space Junk Litters the Solar...
			.card_video_wrapper
				.card_video
					.card_picBox_video
						.card_thumbnail_video
							.video_play_button
								.triangle
									%img(src="/images_s/video/tri.png")
							%img(src="/images_s/video/img2.png")
					.card_video_text
						.video_title
							Soft Robots
			.card_video_wrapper
				.card_video
					.card_picBox_video
						.card_thumbnail_video
							.video_play_button
								.triangle
									%img(src="/images_s/video/tri.png")
							%img(src="/images_s/video/img3.png")
					.card_video_text
						.video_title
							When Black Holes Collide
			.card_video_wrapper
				.card_video
					.card_picBox_video
						.card_thumbnail_video
							.video_play_button
								.triangle
									%img(src="/images_s/video/tri.png")
							%img(src="/images_s/video/img4.png")
					.card_video_text
						.video_title
							Fish on Evolution’s Fast Track
