---
title: Page1

---



.main
	.hero_img
		%img.hero(src="/images_s/hero/hero2.png")
	-# .hero_bar
	-# 	%img.bar(src="/images_s/hero/bg_bottom.png")
	.magzine_wrapper
		.index_row
			.mag_box_large_wrapper
				.mag_box_large
					.mag_picBox
						.thumbnail
							%img(src="/images_s/mag/mag1.png")
					.mag_text
						.number
							MAR 2016   |   VOLUME CCCXIV
						.article1
							5 Years Later, the Fukushima Nuclear Disaster Site Continues to Spill Waste
						.line
						.tag
							ENERGY
					.mag_text
						.article1
							Naval Aviation Gets a Boost from a New Invention: The Catapult
						.line
						.tag
							THE SCIENCES
					.mag_text
						.article1
							Technology of Naval Warfare, 1916 [Slide Show]
			.mag_box_small_wrapper
				.mag_box_small
					.mag_picBox
						.thumbnail_small
							%img(src="/images_s/mag/mag2.png")
			.mag_box_small_wrapper
				.mag_box_small
					.mag_picBox
						.thumbnail_small
							%img(src="/images_s/mag/mag3.png")
	.shelf_wrapper
		.index_row
			.section_title
				%h1 MOST POPULAR
			.section_line
			.card_big_wrapper
				.card_big
					.card_picBox_big
						.card_thumbnail_big
							%img(src="/images_s/card_big/img1.png")
					.card_big_text
						.date
							4 hours ago — Alexandra Witze & Nature magazine
						.post_title
							Science Funders Struggle to Deal with Sexual Harassers
						.description
							US science agencies threaten harsh penalties, but many have yet to take action.
					.card_big_text_bottom
						.line_dark
						.tag_big
							THE SCIENCES
			.card_big_wrapper
				.card_big
					.card_picBox_big
						.card_thumbnail_big
							%img(src="/images_s/card_big/img2.png")
					.card_big_text
						.date
							February 8, 2016 — Jordana Cepelewicz
						.post_title
							A Single Concussion May Triple the Long-Term Risk of Suicide
						.description
							A new study of mild concussions in Canadian adults suggests the risks are even higher for recreational injuries
					.card_big_text_bottom
						.line_dark
						.tag_big
							HEALTH - NEUROLOGICAL
			.card_big_wrapper
				.card_big
					.card_picBox_big
						.card_thumbnail_big
							%img(src="/images_s/card_big/img3.png")
					.card_big_text
						.date
							February 3, 2016 — Apoorva Mandavilli
						.post_title
							India's Government Is Becoming Increasingly Antiscience
						.description
							Scientists join writers, artists and historians in protesting the Modi government’s growing interference...
					.card_big_text_bottom
						.line_dark
						.tag_big
							THE SCIENCES
			.card_big_wrapper
				.card_big
					.card_picBox_big
						.card_thumbnail_big
							%img(src="/images_s/card_big/img4.png")
					.card_big_text
						.date
							April 15, 2016
						.post_title
							Latest Battle to Wipe Out Polio Begins with Vast Vaccine Switch
						.description
							Massive push that begins this weekend will include more than 150 countries
					.card_big_text_bottom
						.line_dark
						.tag_big
							PUBLIC HEALTH
	.shelf_wrapper
		.index_row
			.section_title
				%h1 JUST ADDED
			.section_line
			.card_small_wrapper
				.card_small
					.card_picBox_small
						.card_thumbnail_small
							%img(src="/images_s/card_small/img1.png")
					.card_small_text
						.post_title
							Science Funders Struggle to Deal with Sexual Harassers
					.card_small_text_bottom
						.line_dark
						.tag_big
							SUSTAINABILITY
			.card_small_wrapper
				.card_small
					.card_picBox_small
						.card_thumbnail_small
							%img(src="/images_s/card_small/img2.png")
					.card_small_text
						.post_title
							U.S. to Study Zika Link to Guillain–Barré in Puerto Rico
					.card_small_text_bottom
						.line_dark
						.tag_big
							HEALTH - PUBLIC
			.card_small_wrapper
				.card_small
					.card_picBox_small
						.card_thumbnail_small
							%img(src="/images_s/card_small/img3.png")
					.card_small_text
						.post_title
							Beyond Resveratrol: The Anti-Aging NAD Fad
					.card_small_text_bottom
						.line_dark
						.tag_big
							HEALTH
			.card_small_wrapper
				.card_small
					.card_picBox_small
						.card_thumbnail_small
							%img(src="/images_s/card_small/img4.png")
					.card_small_text
						.post_title
							The Best Diet for Your Brain
					.card_small_text_bottom
						.line_dark
						.tag_big
							HEALTH - NEUROLOGICAL
		.index_row
			.card_small_wrapper
				.card_small
					.card_picBox_small
						.card_thumbnail_small
							%img(src="/images_s/card_small/img5.png")
					.card_small_text
						.post_title
							The Truth About Exoplanets
					.card_small_text_bottom
						.line_dark
						.tag_big
							THE SCIENCES - SPACE
			.card_small_wrapper
				.card_small
					.card_picBox_small
						.card_thumbnail_small
							%img(src="/images_s/card_small/img6.png")
					.card_small_text
						.post_title
							Apple Opposes Order to Help FBI Unlock iPhone
					.card_small_text_bottom
						.line_dark
						.tag_big
							TECH
			.card_small_wrapper
				.card_small
					.card_picBox_small
						.card_thumbnail_small
							%img(src="/images_s/card_small/img7.png")
					.card_small_text
						.post_title
							The Science behind the DEA's Long War on Marijuana
					.card_small_text_bottom
						.line_dark
						.tag_big
							POLICY & ETHICS
			.card_small_wrapper
				.card_small
					.card_picBox_small
						.card_thumbnail_small
							%img(src="/images_s/card_small/img8.png")
					.card_small_text
						.post_title
							Drones Could Speed Up HIV Tests In Remote Areas
					.card_small_text_bottom
						.line_dark
						.tag_big
							PUBLIC HEALTH
						





	-# .index_wrapper
	-# 	.index_row
	-# 		%section1
	-# 			%h1.section_title Trending Now
	-# 			%h3.section_summary Sit Down And Have A Great Time
	-# 			.line
	-# 			.box
	-# 				.picBox
	-# 					.thumbnail
	-# 						%img(src="/images/index/BreakingBad.jpg")
	-# 			.box
	-# 				.picBox
	-# 					.thumbnail
	-# 						%img(src="/images/index/GameOfThrones.jpg")
	-# 			.box
	-# 				.picBox
	-# 					.thumbnail
	-# 						%img(src="/images/index/BetterCallSaul.jpg")
	-# 			.box
	-# 				.picBox
	-# 					.thumbnail
	-# 						%img(src="/images/index/homeland.jpg")
	-# 	.index_row
	-# 		%section1
	-# 			%h1.section_title Trending Now
	-# 			%h3.section_summary Sit Down And Have A Great Time
	-# 			.line
	-# 			.box
	-# 				.picBox
	-# 					.thumbnail
	-# 						%img(src="/images/index/BreakingBad.jpg")
	-# 			.box
	-# 				.picBox
	-# 					.thumbnail
	-# 						%img(src="/images/index/GameOfThrones.jpg")
	-# 			.box
	-# 				.picBox
	-# 					.thumbnail
	-# 						%img(src="/images/index/BetterCallSaul.jpg")
	-# 			.box
	-# 				.picBox
	-# 					.thumbnail
	-# 						%img(src="/images/index/homeland.jpg")