---
title: Page1

---




.main
	.index2_promoHeader
		%img.gameOfThrones(src="/images/index2/index2_header.jpg")
		.index2_page2_row
			%ul.title
				%li ARTICLES
				%li EPISODES
				%li CAST & CREW
		.index2_wrapper
			.column
				.post-module
					.thumbnail
						%img(src="/images/index2/1.jpg")
					.post-content
						.title
							Game Of Thrones
						.sub_title
							Subtitle
						.description
							George R.R. Martin's best-selling book series "A Song of Ice and Fire" is brought to the screen as HBO sinks its considerable storytelling teeth into the medieval fantasy epic.
			.column
				.post-module
					.thumbnail
						%img(src="/images/index2/2.jpg")
					.post-content
						.title
							Game Of Thrones
						.sub_title
							Subtitle
						.description
							George R.R. Martin's best-selling book series "A Song of Ice and Fire" is brought to the screen as HBO sinks its considerable storytelling teeth into the medieval fantasy epic.
			.column
				.post-module
					.thumbnail
						%img(src="/images/index2/3.jpg")
					.post-content
						.title
							Game Of Thrones
						.sub_title
							Subtitle
						.description
							George R.R. Martin's best-selling book series "A Song of Ice and Fire" is brought to the screen as HBO sinks its considerable storytelling teeth into the medieval fantasy epic.
			.column
				.post-module
					.thumbnail
						%img(src="/images/index2/4.png")
					.post-content
						.title
							Game Of Thrones
						.sub_title
							Subtitle
						.description
							George R.R. Martin's best-selling book series "A Song of Ice and Fire" is brought to the screen as HBO sinks its considerable storytelling teeth into the medieval fantasy epic.
			.column
				.post-module
					.thumbnail
						%img(src="/images/index2/5.jpg")
					.post-content
						.title
							Game Of Thrones
						.sub_title
							Subtitle
						.description
							George R.R. Martin's best-selling book series "A Song of Ice and Fire" is brought to the screen as HBO sinks its considerable storytelling teeth into the medieval fantasy epic.
			.column
				.post-module
					.thumbnail
						%img(src="/images/index2/6.jpg")
					.post-content
						.title
							Game Of Thrones
						.sub_title
							Subtitle
						.description
							George R.R. Martin's best-selling book series "A Song of Ice and Fire" is brought to the screen as HBO sinks its considerable storytelling teeth into the medieval fantasy epic.


			