---
title: Post

---



.main
	.shelf_wrapper
		.index_row
			.podcast_filter_wrapper
				.podcast_filter
					.recent_wrapper
						.filter_text
							RECENT PODCASTS
						.arrow_img
							%img(src="images_s/video/arrow.png")
					.series_wrapper
						.filter_text
							SERIES
						.arrow_img
							%img(src="images_s/video/arrow.png")
					.topics_wrapper
						.filter_text
							TOPICS
						.arrow_img
							%img(src="images_s/video/arrow.png")
			.podcast_wrapper
				.podcast_card
					.podcast_play_button_wrapper
						.podcast_play_button
							.triangle_podcast
								%img(src="images_s/video/tri.png")
					.podcast_download_button_wrapper
						.podcast_download_button
							.download
								%img(src="images_s/video/download.png")
					.podcast_title_wrapper
						.podcast_title
							Cutting Carbon Pollution Could Save Health Care $
					.podcast_tag_wrapper
						.line_podcast
						.tag_podcast
							60-SECOND SCIENCE
					.podcast_tag_wrapper
						.line_podcast
						.tag_podcast
							THE SCIENCES
					.podcast_time_wrapper
						.date_podcast
							February 25, 2016 - By Christopher Intagliata
						.time_podcast
							|  02:00
			.podcast_wrapper
				.podcast_card2
					.podcast_play_button_wrapper
						.podcast_play_button
							.triangle_podcast
								%img(src="images_s/video/tri.png")
					.podcast_download_button_wrapper
						.podcast_download_button
							.download
								%img(src="images_s/video/download.png")
					.podcast_title_wrapper
						.podcast_title
							Billion Sun–Bright Events Leave Radio Wave Clues
					.podcast_tag_wrapper
						.line_podcast
						.tag_podcast
							60-SECOND SCIENCE
					.podcast_tag_wrapper
						.line_podcast
						.tag_podcast
							THE SCIENCES 
					.podcast_time_wrapper
						.date_podcast
							February 23, 2016 - By Larry Greenemeier
						.time_podcast
							|   01:25
			.podcast_wrapper
				.podcast_card2
					.podcast_play_button_wrapper
						.podcast_play_button
							.triangle_podcast
								%img(src="images_s/video/tri.png")
					.podcast_download_button_wrapper
						.podcast_download_button
							.download
								%img(src="images_s/video/download.png")
					.podcast_title_wrapper
						.podcast_title
							Cyber Thieves Hold Hospital's Data for Ransom
					.podcast_tag_wrapper
						.line_podcast
						.tag_podcast
							60-SECOND SCIENCE
					.podcast_tag_wrapper
						.line_podcast
						.tag_podcast
							THE SCIENCES 
					.podcast_time_wrapper
						.date_podcast
							February 23, 2016 - By Larry Greenemeier
						.time_podcast
							|   01:25
			.podcast_wrapper
				.podcast_card2
					.podcast_play_button_wrapper
						.podcast_play_button
							.triangle_podcast
								%img(src="images_s/video/tri.png")
					.podcast_download_button_wrapper
						.podcast_download_button
							.download
								%img(src="images_s/video/download.png")
					.podcast_title_wrapper
						.podcast_title
							Ball Really Looks Bigger to Better Hitters
					.podcast_tag_wrapper
						.line_podcast
						.tag_podcast
							60-SECOND SCIENCE
					.podcast_tag_wrapper
						.line_podcast
						.tag_podcast
							THE SCIENCES 
					.podcast_time_wrapper
						.date_podcast
							February 22, 2016 - By Steve Mirsky 
						.time_podcast
							|   02:03
			.podcast_wrapper
				.podcast_card2
					.podcast_play_button_wrapper
						.podcast_play_button
							.triangle_podcast
								%img(src="images_s/video/tri.png")
					.podcast_download_button_wrapper
						.podcast_download_button
							.download
								%img(src="images_s/video/download.png")
					.podcast_title_wrapper
						.podcast_title
							HPV Vaccine Needs to Reach Boys, Too
					.podcast_tag_wrapper
						.line_podcast
						.tag_podcast
							60-SECOND SCIENCE
					.podcast_tag_wrapper
						.line_podcast
						.tag_podcast
							THE SCIENCES 
					.podcast_time_wrapper
						.date_podcast
							February 19, 2016 - By Steve Mirsky 
						.time_podcast
							|   02:16
			.podcast_wrapper
				.podcast_card2
					.podcast_play_button_wrapper
						.podcast_play_button
							.triangle_podcast
								%img(src="images_s/video/tri.png")
					.podcast_download_button_wrapper
						.podcast_download_button
							.download
								%img(src="images_s/video/download.png")
					.podcast_title_wrapper
						.podcast_title
							Mantis Shrimp Shells May Inspire Next-Generation Computer Chips
					.podcast_tag_wrapper
						.line_podcast
						.tag_podcast
							60-SECOND SCIENCE
					.podcast_tag_wrapper
						.line_podcast
						.tag_podcast
							THE SCIENCES 
					.podcast_time_wrapper
						.date_podcast
							February 18, 2016 - By Christopher Intagliata
						.time_podcast
							|   01:55
			.podcast_wrapper
				.podcast_card2
					.podcast_play_button_wrapper
						.podcast_play_button
							.triangle_podcast
								%img(src="images_s/video/tri.png")
					.podcast_download_button_wrapper
						.podcast_download_button
							.download
								%img(src="images_s/video/download.png")
					.podcast_title_wrapper
						.podcast_title
							The Big Gath Dig: Goliath's Hometown
					.podcast_tag_wrapper
						.line_podcast
						.tag_podcast
							SCIENCE TALK
					.podcast_tag_wrapper
						.line_podcast
						.tag_podcast
							TECH
					.podcast_time_wrapper
						.date_podcast
							February 10, 2016 - By Kevin Begos and Steve
						.time_podcast
							|   29:47
			.podcast_wrapper
				.podcast_card2
					.podcast_play_button_wrapper
						.podcast_play_button
							.triangle_podcast
								%img(src="images_s/video/tri.png")
					.podcast_download_button_wrapper
						.podcast_download_button
							.download
								%img(src="images_s/video/download.png")
					.podcast_title_wrapper
						.podcast_title
							Lizard Picks Best Color--to Stand against
					.podcast_tag_wrapper
						.line_podcast
						.tag_podcast
							60-SECOND SCIENCE
					.podcast_tag_wrapper
						.line_podcast
						.tag_podcast
							THE SCIENCES
					.podcast_time_wrapper
						.date_podcast
							February 10, 2016 - By Jason G. Goldman
						.time_podcast
							|   02:03
			.podcast_wrapper
				.podcast_card2
					.podcast_play_button_wrapper
						.podcast_play_button
							.triangle_podcast
								%img(src="images_s/video/tri.png")
					.podcast_download_button_wrapper
						.podcast_download_button
							.download
								%img(src="images_s/video/download.png")
					.podcast_title_wrapper
						.podcast_title
							Climate Change Most Affects Nations That Didn't Produce It
					.podcast_tag_wrapper
						.line_podcast
						.tag_podcast
							60-SECOND SCIENCE
					.podcast_tag_wrapper
						.line_podcast
						.tag_podcast
							SUSTAINABILITY
					.podcast_time_wrapper
						.date_podcast
							February 8, 2016 - By Steve Mirsky
						.time_podcast
							|   01:44
