---
title: Post

---



.main
	.shelf_wrapper
		.index_row
			.post_page_wrapper
				.post_page_date
					By Jeff Hecht, Nature magazine on February 17, 2016
				.post_page_title
					The Truth about Exoplanets
				.post_page_divider
				.post_page_category
					.post_page_tag_wrapper
						.post_page_line_podcast
						.post_page_tag_podcast
							SPACE
					.share_button_wrapper
						.share_button
							.facebook_icon
								%img(src="images_s/2_button/facebook.png")
					.share_button_wrapper
						.share_button
							.twitter_icon
								%img(src="images_s/2_button/twitter.png")
					.share_button_wrapper
						.share_button
							.reddit_icon
								%img(src="images_s/2_button/reddit.png")
					.share_button_wrapper
						.share_button
							.share_icon
								%img(src="images_s/2_button/share.png")
					.share_button_wrapper
						.share_button
							.email_icon
								%img(src="images_s/2_button/email.png")
					.share_button_wrapper
						.share_button
							.print_icon
								%img(src="images_s/2_button/print.png")
				.post_page_body
					.post_index
						Astronomers are beginning to glimpse what exoplanets orbiting distant suns are actually like.
					.body_divider
					.body_text
						The trickle of discoveries has become a torrent.
					.body_text
						Little more than two decades after the first planets were found orbiting other stars, improved instruments on the ground and in space have sent the count soaring: it is now past 2,000. The finds include 'hot Jupiters', 'super-Earths' and other bodies with no counterpart in our Solar System — and have forced astronomers to radically rethink their theories of how planetary systems form and evolve.
					.body_text
						Yet discovery is just the beginning. Astronomers are aggressively moving into a crucial phase in exoplanet research: finding out what these worlds are like. Most exoplanet-finding techniques reveal very little apart from the planet's mass, size and orbit. But is it rocky like Earth or a gas giant like Jupiter? Is it blisteringly hot or in deep-freeze? What is its atmosphere made of? And does that atmosphere contain molecules such as water, methane and oxygen in odd, unstable proportions that might be a signature of life?
					.body_text
						The only reliable tool that astronomers can use to tackle such questions is spectroscopy: a technique that analyses the wavelengths of light coming directly from a planet's surface, or passing through its atmosphere. Each element or molecule produces a characteristic pattern of 'lines' — spikes of light emission or dips of absorption at known wavelengths — so observers can look at a distant object's spectrum to read off what substances are present. “Without spectroscopy, you are to some extent guessing what you see,” says Ian Crossfield, an astronomer at the University of Arizona in Tucson.
					.body_section_title
						TRANSIT SPECTROSCOPY
					.body_divider
					.body_text
						The first exoplanet in orbit around a Sun-like star was discovered in 1995, when astronomers Michel Mayor and Didier Queloz of the Geneva Observatory in Switzerland detected a regular, back-and-forth wobble in the movement of star 51 Pegasi. They concluded that it was caused by the gravity of a planet at least 150 times the mass of Earth — roughly half the mass of Jupiter — orbiting the star every 4 days or so. Other discoveries followed as exoplanet fever took hold, and led telescope managers to make more observing time available for planet-hunting.
					.body_text
						The list of finds soon sparked an idea for astronomer David Charbonneau of the Harvard-Smithsonian Center for Astrophysics in Cambridge, Massachusetts. He reasoned that when a planet 'transits', or passes in front of a star, molecules in its atmosphere will absorb some of the starlight, and leave their spectroscopic fingerprints in it. Might it be possible to detect those fingerprints?
					.body_picture_wrapper
						.body_picture
							.body_thumbnail
								%img(src="images_s/3_pic/1.png")
					.body_picture_description
						Kepler-186f, the first known Earth-sized exoplanet in a star's habitable zone (artist's impression). - NASA Ames/JPL-Caltech/T. Pyle
					.body_text
						To find out, Charbonneau decided to look for sodium. “It's not particularly abundant,” he says, “but sodium has very clear spectroscopic features” — excited molecules of it emit two very strong lines of light, which give sodium street lights their familiar yellow-orange colour. When the sodium is backlit, the light that floods through it has dark bands at the same points of the spectrum, and Charbonneau hoped that these would be comparatively easy to spot.
	.shelf_wrapper
		.index_row
			.section_title
				%h1 RECOMMENDED FOR YOU
			.section_line
			.card_tiny_wrapper
				.card_tiny
					.card_picBox_tiny
						.card_thumbnail_tiny
							%img(src="images_s/3_recommend/1.png")
					.card_tiny_text
						.post_title_tiny
							Ebola Survivor's Blood Holds Promise of New Treatment
					.card_tiny_text_bottom
						.line_dark_tiny
						.tag_tiny
							HEALTH
			.card_tiny_wrapper
				.card_tiny
					.card_picBox_tiny
						.card_thumbnail_tiny
							%img(src="images_s/3_recommend/2.png")
					.card_tiny_text
						.post_title_tiny
							Functional Artificial Mouse Sperm Created in a Dish
					.card_tiny_text_bottom
						.line_dark_tiny
						.tag_tiny
							HEALTH - BIOTECH
			.card_tiny_wrapper
				.card_tiny
					.card_picBox_tiny
						.card_thumbnail_tiny
							%img(src="images_s/3_recommend/3.png")
					.card_tiny_text
						.post_title_tiny
							Test Marks Milestone for Deep-Space Gravitational Wave
					.card_tiny_text_bottom
						.line_dark_tiny
						.tag_tiny
							THE SCIENCES - PHYSICS
			.card_tiny_wrapper
				.card_tiny
					.card_picBox_tiny
						.card_thumbnail_tiny
							%img(src="images_s/card_tiny/pic3.png")
					.card_tiny_text
						.post_title_tiny
							Could a Lack of Water Cause Wars?
					.card_tiny_text_bottom
						.line_dark_tiny
						.tag_tiny
							CLIMATE

