---
title: Post

---



.main
	.shelf_wrapper
		.video_filter_wrapper
			.video_filter
				.video_triangle
					%img(src="images_s/videoPage/tri_button.png")
				.video_filter_text
					ALL
		.index_row
			.card_video_wrapper2
				.card_video
					.card_picBox_video
						.card_thumbnail_video
							.video_play_button
								.triangle
									%img(src="images_s/video/tri.png")
							%img(src="images_s/video/img1.png")
					.card_video_text
						.video_title
							Space Junk Litters the Solar...
			.card_video_wrapper2
				.card_video
					.card_picBox_video
						.card_thumbnail_video
							.video_play_button
								.triangle
									%img(src="images_s/video/tri.png")
							%img(src="images_s/video/img2.png")
					.card_video_text
						.video_title
							Soft Robots
			.card_video_wrapper2
				.card_video
					.card_picBox_video
						.card_thumbnail_video
							.video_play_button
								.triangle
									%img(src="images_s/video/tri.png")
							%img(src="images_s/video/img3.png")
					.card_video_text
						.video_title
							When Black Holes Collide
			.card_video_wrapper2
				.card_video
					.card_picBox_video
						.card_thumbnail_video
							.video_play_button
								.triangle
									%img(src="images_s/video/tri.png")
							%img(src="images_s/video/img4.png")
					.card_video_text
						.video_title 
							Fish on Evolution’s Fast Track
		.index_row
			.card_video_wrapper2
				.card_video
					.card_picBox_video
						.card_thumbnail_video
							.video_play_button
								.triangle
									%img(src="images_s/video/tri.png")
							%img(src="images_s/2_video/5.png")
					.card_video_text
						.video_title
							Why Toothpaste Makes Orange Juice Taste Bad
			.card_video_wrapper2
				.card_video
					.card_picBox_video
						.card_thumbnail_video
							.video_play_button
								.triangle
									%img(src="images_s/video/tri.png")
							%img(src="images_s/2_video/6.png")
					.card_video_text
						.video_title
							Paint Pigment Transformed to Work Wonders
			.card_video_wrapper2
				.card_video
					.card_picBox_video
						.card_thumbnail_video
							.video_play_button
								.triangle
									%img(src="images_s/video/tri.png")
							%img(src="images_s/2_video/7.png")
					.card_video_text
						.video_title
							3-D Printed Trilobites
			.card_video_wrapper2
				.card_video
					.card_picBox_video
						.card_thumbnail_video
							.video_play_button
								.triangle
									%img(src="images_s/video/tri.png")
							%img(src="images_s/2_video/8.png")
					.card_video_text
						.video_title 
							How We Are All a Little Nean
		.index_row
			.card_video_wrapper2
				.card_video
					.card_picBox_video
						.card_thumbnail_video
							.video_play_button
								.triangle
									%img(src="images_s/video/tri.png")
							%img(src="images_s/2_video/9.png")
					.card_video_text
						.video_title
							Migratory Birds May Use Magnetic "GPS"
			.card_video_wrapper2
				.card_video
					.card_picBox_video
						.card_thumbnail_video
							.video_play_button
								.triangle
									%img(src="images_s/video/tri.png")
							%img(src="images_s/2_video/10.png")
					.card_video_text
						.video_title
							One Photon's Journey: Saul Perlmutter
			.card_video_wrapper2
				.card_video
					.card_picBox_video
						.card_thumbnail_video
							.video_play_button
								.triangle
									%img(src="images_s/video/tri.png")
							%img(src="images_s/2_video/11.png")
					.card_video_text
						.video_title
							Bouncing Bots
			.card_video_wrapper2
				.card_video
					.card_picBox_video
						.card_thumbnail_video
							.video_play_button
								.triangle
									%img(src="images_s/video/tri.png")
							%img(src="images_s/2_video/12.png")
					.card_video_text
						.video_title 
							High Heels, High Risk
		.index_row
			.card_video_wrapper2
				.card_video
					.card_picBox_video
						.card_thumbnail_video
							.video_play_button
								.triangle
									%img(src="images_s/video/tri.png")
							%img(src="images_s/videoPage/13.png")
					.card_video_text
						.video_title
							Researchers 3-D Print Living Organs
			.card_video_wrapper2
				.card_video
					.card_picBox_video
						.card_thumbnail_video
							.video_play_button
								.triangle
									%img(src="images_s/video/tri.png")
							%img(src="images_s/videoPage/14.png")
					.card_video_text
						.video_title
							Sharks Sniff Their Way Home
			.card_video_wrapper2
				.card_video
					.card_picBox_video
						.card_thumbnail_video
							.video_play_button
								.triangle
									%img(src="images_s/video/tri.png")
							%img(src="images_s/videoPage/15.png")
					.card_video_text
						.video_title
							Quantum Cuteness: Neutron Beta Decay
			.card_video_wrapper2
				.card_video
					.card_picBox_video
						.card_thumbnail_video
							.video_play_button
								.triangle
									%img(src="images_s/video/tri.png")
							%img(src="images_s/videoPage/16.png")
					.card_video_text
						.video_title 
							The Evolution of Oral Anticoagulants
		.index_row
			.card_video_wrapper2
				.card_video
					.card_picBox_video
						.card_thumbnail_video
							.video_play_button
								.triangle
									%img(src="images_s/video/tri.png")
							%img(src="images_s/videoPage/17.png")
					.card_video_text
						.video_title
							Size Matters--for Heart Monitor
			.card_video_wrapper2
				.card_video
					.card_picBox_video
						.card_thumbnail_video
							.video_play_button
								.triangle
									%img(src="images_s/video/tri.png")
							%img(src="images_s/videoPage/18.png")
					.card_video_text
						.video_title
							The Computer That Mastered Go
			.card_video_wrapper2
				.card_video
					.card_picBox_video
						.card_thumbnail_video
							.video_play_button
								.triangle
									%img(src="images_s/video/tri.png")
							%img(src="images_s/videoPage/19.png")
					.card_video_text
						.video_title
							3-D Printed Yeast Cell
			.card_video_wrapper2
				.card_video
					.card_picBox_video
						.card_thumbnail_video
							.video_play_button
								.triangle
									%img(src="images_s/video/tri.png")
							%img(src="images_s/videoPage/20.png")
					.card_video_text
						.video_title 
							How Do Tornadoes Form?
		.index_row
			.card_video_wrapper2
				.card_video
					.card_picBox_video
						.card_thumbnail_video
							.video_play_button
								.triangle
									%img(src="images_s/video/tri.png")
							%img(src="images_s/videoPage/21.png")
					.card_video_text
						.video_title
							Is Wool Really Warmest for Winter?
			.card_video_wrapper2
				.card_video
					.card_picBox_video
						.card_thumbnail_video
							.video_play_button
								.triangle
									%img(src="images_s/video/tri.png")
							%img(src="images_s/videoPage/22.png")
					.card_video_text
						.video_title
							Laniakea: Our Home Supercluster
			.card_video_wrapper2
				.card_video
					.card_picBox_video
						.card_thumbnail_video
							.video_play_button
								.triangle
									%img(src="images_s/video/tri.png")
							%img(src="images_s/videoPage/23.png")
					.card_video_text
						.video_title
							Virtual Reality Gets Real
			.card_video_wrapper2
				.card_video
					.card_picBox_video
						.card_thumbnail_video
							.video_play_button
								.triangle
									%img(src="images_s/video/tri.png")
							%img(src="images_s/videoPage/24.png")
					.card_video_text
						.video_title 
							Gratitude on the Brain